* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}
.fancybox {
	&-content {
		&.docx,
		&.xlsx {
			&_viewer {
				height: 100% !important;
				max-height: 100% !important;
			}
		}
	}
}